@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

*{
    margin: 0;
    padding: 0;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    /* border: 2px solid red; */
}

.primary, .secondary{
    font-family: "Merriweather", serif;
}

p{
    font-family: "Sacramento", cursive;
}

.hero_section::before{
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    opacity: 0.9;
    z-index: -1;
    animation: changeBg 6s infinite normal;
}

@keyframes changeBg {
    0%{
    background: url(Default_Generate_image_of_vertical_Tiffin_box_with_the_backgro_0.jpg) no-repeat center/cover;
    }

    25%{
    background: url(Hero_image.png) no-repeat center/cover;
    }

    50%{
        background: url(Default_Generate_image_of_vertical_Tiffin_box_with_the_backgro_1.jpg) no-repeat center/cover;

    }

    75%{
    background: url(Default_Generate_image_of_vertical_Tiffin_box_with_the_backgro_3.jpg) no-repeat center/cover;

    }

    100%{
        background: url(https://img.freepik.com/premium-vector/green-courier-online-food-delivery-vector-illustration_723710-15.jpg?size=626&ext=jpg&ga=GA1.1.379443224.1710346056&semt=ais) no-repeat center/cover;
    }
}
.hero_section{
    height: 60vh;
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
}

nav {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: white;
    padding: 8px 0;
    gap: 10px;
    position: fixed;
}

nav div{
    display: flex;
    align-items: center;
}

nav .left{
    gap: 8vw;
}

nav div #logo{
    width: 50px;
    height: 50px;
}

nav div .tertiary{
    font-size: 1.35rem;
}

nav div h3 span:nth-child(even){
    color: #3A7F00;
}


nav ul{
    display: flex;
    gap: 4vw;
    list-style: none;
}

nav ul li a{
    color: black;
    text-decoration: none;
    font-weight: 600;
    transition: all .2s ease-in;
}

nav ul li a:hover{
    color: #FC8019;
}

nav h3 span{
    color: black;
    font-family: 'Times New Roman', Times, serif;
}

nav .right{
    gap: 10px;
}

nav .right input{
    width: 15vw;
    height: 30px;
    padding-left: 5px;
    border: 2px solid gray;
    border-radius: 5px;
    outline: none;
}

nav .right input:focus {
    animation: shadow-glow 1s infinite alternate;
}

@keyframes shadow-glow {
    0% {
        box-shadow: 0 0 5px #a8cc4d; /* Start with a blue shadow */
    }
    100% {
        box-shadow: 0 0 10px #8ece3f; /* End with a stronger blue shadow */
    }
}

nav .right button{
    padding: 5px 8px;
    border-radius: 5px;
    border: 2px solid #3A7F00;
    color: #3A7F00;
    background-color: white;
    transition: all .2s ease-in;
    cursor: pointer;
    font-weight: 600;
}

nav .right button:hover{
    background-color: #3A7F00;
    color: white;
}

header .img{
    background: url(Indian\ Tiffin\ meal-fotor-bg-remover-2024031610104.png) no-repeat center/cover;
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.hero_content{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0 20px;
    margin: clamp(100px, 6vw, 300px) 0;
}

.hero_text{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.hero_text p{
    font-weight: 600;
    font-size: clamp(12px, 3vw, 1.2rem);
}

.primary{
    color: #3A7F00;
    font-size: clamp(32px, 5vw, 64px);
    font-weight: 900;
}
.primary span{
    color: black;
    display: block;
}

.hero_text .btn{
    width: 150px;  
    background-color: #FC8019;
    color: white;
    border: none;
    text-align: center;
    font-size: 1.15rem;
    margin-top: 10px;
    border-radius: 3px;
    padding: 10px 5px;
    transition: all .3s ease-in-out;
    cursor: pointer;
    text-decoration: none;
}

.hero_text .btn:hover{
    background-color: white;
    color: #FC8019;
}


/* Hero Section Ends */

hr{
    border: 3px solid rgb(202, 202, 202);
    margin-bottom: 30px;
}

/* Second Section starts  */

.second{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 30px;
    padding: 0 10px;
    margin-bottom: 30px;
}

.secondary{
    font-size: clamp(28px, 4vw, 42px);
    color: #FC8019;

}
.second .cuisines{
    display: flex;
    align-items: center;
    gap: 10px;
}

.second .cuisines .dish{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}


.second .cuisines img{
    width: 75%;
    max-width: 400px;
}

.a_link{
    color: #9b5000;
    font-weight: 700;
    font-size: 1.1rem;
    text-decoration: none;
    transition: all .2s ease-in;
}

.a_link:hover{
    color: #FC8019;
}

.cuisine_des{
    width: 75%;
}

/* Second Section End  */


/* Third Section Starts  */

#third{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 15px;
    padding: 0 20px;
}

#third .tertiary{
    font-size: 1.35rem;
}

#welcome{
    width: 60%;
    font-size: 1.1rem;
}

#serviceP{
    background-color: #118b32;
    color: white;
    padding: 10px;
    margin: 20px 0;
    font-size: 1.1rem;
}

.services{
    width: 100%;
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: center;
    margin: 15px 0;
    flex-wrap: wrap;
}

.service{
    width: 35%;
}

.service img{
    width: 80%;
    max-width: 250px;
}


/* Forth Section  */

    .forth{
        margin-bottom: 100px;
    }

/* Footer section  */

.footer {
    position: relative;
    background: #A1D463;
    min-height: 100px;
    padding: 20px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  .social-icon,
  .menu {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    flex-wrap: wrap;
  }
  
  .social-icon__item,
  .menu__item {
    list-style: none;
  }
  
  .social-icon__link {
    font-size: 2rem;
    color: #fff;
    margin: 0 10px;
    display: inline-block;
    transition: 0.5s;
  }
  .social-icon__link:hover {
    transform: translateY(-10px);
  }
  
  .menu__link {
    font-size: 1.2rem;
    color: #fff;
    margin: 0 10px;
    display: inline-block;
    transition: 0.3s;
    text-decoration: none;
    font-weight: 500;
  }
  
  .menu__link:hover {
    color: #3A7F00;
  }
  
  .footer p {
    color: #fff;
    margin: 15px 0 10px 0;
    font-size: 1rem;
    font-weight: 300;
  }
  
  .wave {
    position: absolute;
    top: -80px;
    left: 0;
    width: 100%;
    height: 80px;
    background: url("Wave.jpg");
    background-size: 1000px 100px;
  }
  
  .wave#wave1 {
    z-index: 1000;
    opacity: 1;
    bottom: 0;
    animation: animateWaves 4s linear infinite;
  }
  
  .wave#wave2 {
    z-index: 999;
    opacity: 0.5;
    bottom: 10px;
    animation: animate 4s linear infinite !important;
  }
  
  .wave#wave3 {
    z-index: 1000;
    opacity: 0.2;
    bottom: 15px;
    animation: animateWaves 3s linear infinite;
  }
  
  .wave#wave4 {
    z-index: 999;
    opacity: 0.7;
    bottom: 20px;
    animation: animate 3s linear infinite;
  }
  
  @keyframes animateWaves {
    0% {
      background-position-x: 1000px;
    }
    100% {
      background-positon-x: 0px;
    }
  }
  
  @keyframes animate {
    0% {
      background-position-x: -1000px;
    }
    100% {
      background-positon-x: 0px;
    }
  }