/* Basic styles */

@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");


i {
  font-family: "Open Sans", sans-serif;
}

* {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

h2 {
  margin: 3rem 0;
  margin-left: 10px;
}

main {
  margin: auto 1rem;
}

/* Full plan div  */

#full-plan {
  width: 60%;
  min-width: 700px;
  height: 60vh;
  display: none;
  gap: 2rem;
  align-items: center;
  justify-content: center;
  background-color: #f1f6ee;
  padding-top: 2rem;
  margin: 3rem auto;
  position: sticky;
  top: 8rem;
  z-index: 9999;
  visibility: visible;
  box-shadow: 0px 0px 10px 7px rgba(0, 0, 0, 0.75);

}

#full-plan .plan-card {
  width: 100%;
  line-height: 2;
  cursor: default;
}

#full-plan .plan-card img {
  height: 225px;
}

#full-plan .plan-card:hover {
  transform: none;
}

.prices {
  position: absolute;
  top: 20px;
  right: 10px;
}

.prices .price {
  position: static;
}

.includes h2 {
  margin: 0 0 2rem 0;
}

.includes .itemPerDay {
  margin: 22px 0;
}

.fa-xmark {
  font-size: 1.7rem;
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

#buy {
  padding: 7px 22px;
  background-color: #fff;
  color: #3A7F00;
  border: 2px solid #3A7F00;
  margin: 3rem 4.5rem;
  font-weight: 600;
  font-size: 1.1rem;
  cursor: pointer;
  transition: all .2s ease-in-out;
}

#buy:hover {
  color: #fff;
  background-color: #3A7F00;
}

/* plan, chef, restau grids  */

.plan-grid,
.chef-grid,
.restau-grid,
.result-grid {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 1rem;
}

.chef-grid {
  grid-template-columns: repeat(auto-fit, minmax(130px, 1fr));
  gap: clamp(20px, 5vw, 30px);
}


.plan-card,
.chef-card,
.restau-card {
  max-width: 400px;
  padding: 1rem;
  border-radius: 5px;
  cursor: pointer;
  transition: transform .2s ease-in;
}

.plan-card:hover,
.chef-card:hover,
.restau-card:hover {
  transform: scale(.95);

}

.plan-details,
.restau-details {
  margin-top: .5rem;
  margin-left: .5rem;
  position: relative;
}

.price {
  background-color: #FC8019;
  color: white;
  padding: 5px;
  font-size: .85rem;
  font-weight: 550;
  width: fit-content;
  position: absolute;
  top: 20px;
  right: 10px;
}

img {
  width: 100%;
  height: 150px;
  border-radius: 5%;
  object-fit: cover;
}

.chef-name,
.plan-name,
.rating,
.restau-name {
  font-weight: 600;
  margin-bottom: 0.5rem;
}

.address {
  letter-spacing: 1px;
  opacity: .7;
}

.r-circle {
  width: 20px;
  height: 20px;
  background-color: #178B3E;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.r-circle .fa-star {
  color: #fff;
  background-color: transparent;
  font-size: .65rem;
  margin-bottom: 1px;
}


.rating {
  display: flex;
  gap: 2px;
  align-items: center;
}

.home-cooks .chef-grid img {
  width: auto;
  aspect-ratio: 3/4;
}

.fas.fa-star {
  color: gold;
}

/* Header styles */
header {
  background-color: #f5f5f5;
  padding: 1rem;
  position: sticky;
  top: 0;
  z-index: 9999;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-left {
  display: flex;
  align-items: center;
}

.nav-left img {
  width: 4rem;
  height: 4rem;
  margin-right: clamp(7px, 3vw, 20px);
  mix-blend-mode: multiply;
}

.nav-left span {
  font-weight: 600;
}

nav .search {
  gap: 10px;
}

nav .search input {
  width: 15vw;
  min-width: 100px;
  height: 30px;
  padding-left: 5px;
  border: 2px solid gray;
  border-radius: 5px;
  outline: none;
}

nav .search input:focus,
nav .search input:hover {
  animation: shadow-glow 1s infinite alternate;
}

@keyframes shadow-glow {
  0% {
    box-shadow: 0 0 5px #a8cc4d;
    /* Start with a blue shadow */
  }

  100% {
    box-shadow: 0 0 10px #8ece3f;
    /* End with a stronger blue shadow */
  }
}

nav .search button {
  padding: 5px 8px;
  border-radius: 5px;
  border: 2px solid #3A7F00;
  color: #3A7F00;
  background-color: white;
  transition: all .2s ease-in;
  cursor: pointer;
  font-weight: 600;
}

nav .search button:hover {
  background-color: #3A7F00;
  color: white;
}

i.fa-magnifying-glass {
  display: none;
}

.nav-right {
  display: flex;
  align-items: center;
  gap: clamp(10px, 3vw, 50px);
  padding-left: 1rem;
}


nav .fas {
  cursor: pointer;
  color: #272727f8;
  transition: all .2s ease-in-out;
}

nav .fas:hover {
  transform: scale(1.2);
  color: #000000;
}


/* Section styles */
section {
  margin-bottom: 2rem;
}


/* Footer section  */

/* Basic styles and Jain food section styles as before */

/* Footer styles */
footer {
  background-color: #f0f0f0;
  padding: 2rem 0;
  text-align: center;
}

footer p {
  padding-bottom: 2rem;
}

.copyright {
  background-color: #e0e0e0;
  padding: 1rem 0;
  color: #666;
  font-size: 0.8rem;
}


@media only screen and (max-width: 500px) {

  nav .search button {
    display: none;
  }

  nav .search input {
    display: none;
  }

  .nav-right {
    gap: 50px;
  }

  i.fa-magnifying-glass {
    display: inline;
  }

  #full-plan {
    min-width: 0;
    width: 100%;
    flex-wrap: wrap;
    overflow-y: auto;
  }

  #full-plan .plan-card {
    min-width: 280px;
  }
}