@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
    margin: 0;
    padding: 0;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    box-sizing: border-box;
}

.primary,
.secondary {
    font-family: "Cabin", sans-serif;
}

p {
    font-family: "Raleway", sans-serif;
}

.hero_section::before {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    opacity: 0.9;
    z-index: -1;
    animation: changeBg 6s infinite normal;
}

@keyframes changeBg {
    0% {
        background: url(./images/Tiffin_box0.jpg) no-repeat center/cover;
    }

    25% {
        background: url(./images/Hero_image.png) no-repeat center/cover;
    }

    50% {
        background: url(./images/Tiffin_box1.jpg) no-repeat center/cover;

    }

    75% {
        background: url(./images/Tiffin_box3.jpg) no-repeat center/cover;

    }

    100% {
        background: url(https://img.freepik.com/premium-vector/green-courier-online-food-delivery-vector-illustration_723710-15.jpg?size=626&ext=jpg&ga=GA1.1.379443224.1710346056&semt=ais) no-repeat center/cover;
    }
}

.hero_section {
    height: 80vh;
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
}

nav {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: white;
    padding: 8px 0;
    gap: 10px;
    position: fixed;
    z-index: 99;
}

nav div {
    display: flex;
    align-items: center;
    gap: 5px;
}

nav .left {
    gap: 8vw;
}

nav #logo {
    width: 60px;
}

nav div .tertiary {
    font-size: 1.35rem;
}

nav div h3 span:nth-child(even) {
    color: #3A7F00;
}


nav ul {
    display: flex;
    gap: 4vw;
    list-style: none;
}

a {
    text-decoration: none !important;
    color: #000000;
}

nav ul li a {
    text-transform: uppercase;
    letter-spacing: 0.07em;
    display: inline-block;
    padding: 5px 0;
    position: relative;
    transition: all .2s ease-in-out;
}

nav ul li a:after {
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    background: #FC8019;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
}

.active {
    color: #FC8019;
}

.active:after {
    width: 100%;
    left: 0;
}

nav ul li a:hover:after {
    width: 100%;
    left: 0;
}


nav ul li a:hover {
    color: #FC8019;
}

nav h3 span {
    color: black;
    font-family: 'Times New Roman', Times, serif;
}

nav .right {
    gap: 10px;
}



#bar {
    height: 20px;
    width: 25px;
    display: none;
}

#bar:hover {
    opacity: 1;
}

.opacity8 {
    opacity: .8;
}

#bar div {
    height: 3px;
    width: 100%;
    border-radius: 3px;
    background-color: #000;
    position: relative;
    transition: all .2s ease-in-out;
}

.v-none {
    opacity: 0;
}


.rotate-down {
    transform: rotate(45deg);
    top: 6px;
    left: 4px;
}

.rotate-up {
    transform: rotate(-45deg);
    bottom: 8px;
    left: 3px;
}

nav .right input {
    width: 15vw;
    height: 30px;
    padding-left: 5px;
    border: 2px solid gray;
    border-radius: 5px;
    outline: none;
}

nav .right input:focus,
nav .right input:hover {
    animation: shadow-glow 1s infinite alternate;
}

@keyframes shadow-glow {
    0% {
        box-shadow: 0 0 5px #a8cc4d;
        /* Start with a blue shadow */
    }

    100% {
        box-shadow: 0 0 10px #8ece3f;
        /* End with a stronger blue shadow */
    }
}

nav .right button {
    padding: 5px 8px;
    border-radius: 5px;
    border: 2px solid #3A7F00;
    color: #3A7F00;
    background-color: white;
    transition: all .2s ease-in;
    cursor: pointer;
    font-weight: 600;
}

nav .right button:hover {
    background-color: #3A7F00;
    color: white;
}

nav .fa-user {
    cursor: pointer;
    color: #000000;
    padding: 0 2px;
    font-size: 1rem;
    transition: all .2s ease-in-out;
}

/* Drop down  */
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    top: 17px;
    background-color: #f9f9f9;
    width: fit-content;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content #logOut {
    color: black;
    padding: 12px 16px;
    display: block;
    cursor: pointer;
}

.dropdown-content #editProfileLink {
    color: black;
    width: 100px !important;
    border: none;
    background-color: #fff;
    font-size: 1rem;
}

.dropdown-content #editProfileLink,
#logOut:hover {
    background-color: #c4c4c4
}

.dropdown:hover .dropdown-content {
    display: block;
}


nav .fa-user:hover {
    transform: scale(1.1);
}

header .img {
    background: url(Indian\ Tiffin\ meal-fotor-bg-remover-2024031610104.png) no-repeat center/cover;
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.hero_content {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0 20px;
    margin: clamp(150px, 6vw, 250px) 0;
}

.hero_text {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 30px 0 0;
    gap: 10px;
    text-align: center;
}

.hero_text p {
    font-weight: 600;
    font-size: clamp(12px, 3vw, 1.2rem);
}

.primary {
    color: #3A7F00;
    font-size: clamp(32px, 5vw, 64px);
    font-weight: 900;
    letter-spacing: 0.1em;
}

.WName {
    font-size: clamp(60px, 7vw, 80px);
}

.primary span {
    color: black;
    display: block;
}

.hero_text .btn {
    width: 150px;
    background-color: #FC8019;
    color: white;
    border: none;
    text-align: center;
    font-size: 1.15rem;
    margin-top: 10px;
    border-radius: 3px;
    padding: 10px 5px;
    transition: all .3s ease-in-out;
    cursor: pointer;
    text-decoration: none;
}

.hero_text .btn:hover {
    background-color: white;
    color: #FC8019;
}


/* Hero Section Ends */

hr {
    border: 3px solid rgb(240, 240, 240);
    margin-bottom: 30px;
}

/* About section  */

#about p,
#second p,
#third p {
    width: 70% !important;
    line-height: 1.5;
    letter-spacing: 1px;
}

/* Second Section starts  */

#about,
#second {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
    padding: 0 10px;
    margin: 5rem 0 !important;
}

#about {
    margin-bottom: 10rem !important;
}

.secondary {
    font-size: clamp(28px, 4vw, 38px);
    color: #FC8019;
    font-weight: 600;

}

#second .cuisines,
#third .services {
    width: 70%;
    min-width: 280px;
    height: auto;
    display: flex;
    align-items: center;
    padding: 30px 50px;
    background-color: #F5F7F8;
}

.cuisines .dish_desc,
.services .service_desc {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.cuisines .tertiary,
.services .tertiary {
    color: #00132c;
    font-size: 1.75rem;
    font-weight: 550;
}

.services .tertiary {
    align-self: self-start;
}

#second .cuisines img,
.services img {
    width: 100%;
    min-width: 250px;
    max-width: 350px;
    aspect-ratio: 4/3;
    object-fit: cover;
}

.cuisine_des {
    opacity: .8;
}

.a_link {
    width: fit-content;
    color: #3A7F00;
    font-weight: 550;
    font-size: 1rem;
    border: 1px solid #3A7F00;
    border-radius: 7px;
    padding: 7px 9px;
    text-decoration: none;
    transition: all .2s ease-in;
}

.a_link:hover {
    color: #fff;
    background-color: #3A7F00;
}


/* Second Section End  */


/* Third Section Starts  */

#third {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    padding: 50px 20px;
}


#welcome {
    width: 90%;
    font-size: 1.1rem;
}

#serviceP {
    background-color: #118b32;
    color: white;
    text-align: center;
    padding: 10px;
    margin: 20px 0;
    font-size: 1.1rem;
}


/* Footer section  */

.footer {
    position: relative;
    background: #A1D463;
    min-height: 100px;
    padding: 5px 50px 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 8rem;
}

.social-icon,
.menu {
    width: 40%;
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 10px 0;
    flex-wrap: wrap;
}

.social-icon__item,
.menu__item {
    list-style: none;
}

.social-icon__link {
    font-size: 2rem;
    color: #fff;
    margin: 0 10px;
    display: inline-block;
    transition: 0.5s;
}

.social-icon__link:hover {
    transform: translateY(-10px);
}

.menu__link {
    font-size: 1.2rem;
    color: #fff;
    margin: 0 10px;
    display: inline-block;
    transition: 0.3s;
    text-decoration: none;
    font-weight: 500;
    text-transform: capitalize;
}

.menu__link:hover {
    color: #3A7F00;
}

.footer p {
    color: #fff;
    margin: 15px 0 10px 0;
    font-size: 1rem;
    font-weight: 300;
    letter-spacing: 1px;
}

.wave {
    position: absolute;
    top: -80px;
    left: 0;
    width: 100%;
    height: 80px;
    background: url("images/Wave.jpg");
    background-size: 1000px 100px;
}

.wave#wave1 {
    z-index: 1000;
    opacity: 1;
    bottom: 0;
    animation: animateWaves 4s linear infinite;
}

.wave#wave2 {
    z-index: 999;
    opacity: 0.5;
    bottom: 10px;
    animation: animate 4s linear infinite !important;
}

.wave#wave3 {
    z-index: 1000;
    opacity: 0.2;
    bottom: 15px;
    animation: animateWaves 3s linear infinite;
}

.wave#wave4 {
    z-index: 999;
    opacity: 0.7;
    bottom: 20px;
    animation: animate 3s linear infinite;
}


@keyframes animateWaves {
    0% {
        background-position-x: 1000px;
    }

    100% {
        background-positon-x: 0px;
    }
}

@keyframes animate {
    0% {
        background-position-x: -1000px;
    }

    100% {
        background-positon-x: 0px;
    }
}


/* media query  */


@media only screen and (max-width: 800px) {

    nav {
        justify-content: center;
    }

    nav .left .tertiary {
        display: none;
    }

    .hero_content {
        margin-top: 250px;
    }

    #tag_line {
        font-size: 1rem;
    }

    /* Second & third Section  */

    #about p,
    #second p,
    #third p {
        width: 90% !important;
        text-align: center;
    }

    .cuisines,
    .services {
        width: 90% !important;
        flex-direction: column-reverse;
        align-items: center;
        gap: 30px;
        padding: 30px clamp(10px, 3vw, 20px) !important;
    }

    .dish_desc,
    .service_desc {
        align-items: center;
    }

    .cuisines .tertiary,
    .services .tertiary {
        font-size: clamp(24px, 6vw, 32px);
    }

}

/* Media query  */

@media only screen and (max-width: 760px) {

    nav {
        justify-content: space-between;
    }

    nav .right {
        margin-right: .8rem;
        gap: 3rem;
    }


    #bar {
        display: flex;
        flex-direction: column;
        gap: 4px;
        cursor: pointer;
    }

    nav .left ul {
        display: none;
        position: absolute;
        right: 100px;
        top: 30px;
        background-color: #000;
        color: #fff;
        padding: 10px;
        line-height: 2;
    }

    nav .left ul li a {
        color: #fff;

    }

    .display_b {
        display: block !important;
    }

    .right input,
    button {
        display: none;
    }

    .right .fa-bars {
        display: inline;
        cursor: pointer;
    }


}